[Unit]
Description=Configura el gobernador de CPU con cpupower
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set --governor powersave --min 2GHz --max 2GHz
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

